/* Body element */
body {
  background-color: #eeeeeb;
  color: rgba(0, 0, 0, 0.8);
}
.light-mode body {
  background-image: linear-gradient(to right top, #00d0d7, #c8ffc5, #0ea4b8);
  color: #1a0078;
}
.drawer {
  background-image: linear-gradient(to right top, #2a023f, #461919, #000000);
}
/* */
.dark-mode body {
  background-image: linear-gradient(to right top, #2a023f, #461919, #000000);
  color: #ebf4f1;
}
.dark-mode .backcolor {
  background-color: #161715;
}
.dark-mode .el-drawer {
  background-color: rgba(30, 30, 30, 0.98);
}
/* */
.gray-mode body {
  background-image: linear-gradient(to right top, #791285, #1e375d, #882727);
  color: #e5adff;
}
.gray-mode .backcolor {
  background-color: rgba(50, 64, 63, 0.98);

  color: #650f8c;
}
/*
    .gray-mode .el-drawer {
        background-color: #183ea5fa;
        color: #FFFFFF;
    }
    */
.gray-mode .el-drawer {
  background-color: rgba(91, 115, 101, 0.95);
  color: #ebebeb;
}

/* Active link */
.router-link-active {
  border-bottom: 1px solid rgba(50, 64, 63, 0.2);
}
.dark-mode .router-link-active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.gray-mode .router-link-active {
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
/* input */
textarea,
input,
select {
  padding: 0.5em;
  display: block;
  max-width: auto;
  margin-top: 0.2em;
  padding: 0.5em;
  border: 1px solid rgba(111, 109, 109, 0.2);
  border-radius: 4px;
  background: none;
}
.dark-mode textarea,
.dark-mode input,
.gray-mode select {
  border: 1px solid rgba(199, 197, 197, 0.8);
}
.gray-mode textarea,
.gray-mode input,
.gray-mode select {
  border: 1px solid rgba(41, 41, 45, 0.8);
}

.drawer {
  color: #eeeeeb;
}
